<template>
  <v-row >
    <v-col cols="12" style="background-color:white">
      <v-row justify="center">
        <v-col cols="12">
          <v-row>
            <v-app-bar flat color="#106886" height="70px" app class="box-shadow" >
              <v-col cols="12">
                <v-row>
                  <v-col cols="3">
                    <span style="color:white; font-size:32px;">CHICONY POWER</span>
                  </v-col>
                  <v-col cols="9">
                    <v-row justify="end">
                      <span @click="goLine1()" class="text1" style="margin-right:10px; color:white; cursor: pointer; font-size:24px;">LINE 1</span>
                      <v-divider class="mx-4" style="background-color:white; " vertical></v-divider>
                      <span @click="goLine2()"  class="text1" style="margin-right:10px; color:white; cursor: pointer; font-size:24px;">LINE 2</span>
                      <v-divider class="mx-4" style="background-color:white;" vertical></v-divider>
                      <span @click="goLine3()" class="text1" style="margin-right:10px; color:white; cursor: pointer; font-size:24px;">LINE 3</span>
                      <v-divider class="mx-4" style="background-color:white;" vertical></v-divider>
                      <span @click="goLine4()" class="text1" style="margin-right:10px; color:white; cursor: pointer; font-size:24px;">LINE 4</span>
                      <v-divider class="mx-4" style="background-color:white;" vertical></v-divider>
                      <span @click="goLine5()" class="text1" style="margin-right:50px; color:white; cursor: pointer; font-size:24px;">LINE 5</span>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-app-bar>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-row justify="center" style="margin-top:50px;">
            <span style="font-size:50px;">
              Production Management Index
            </span>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-row justify="center" style="margin-top:30px;">
            <v-card outlined style="width:90%">
              <v-simple-table fixed-header height="450px">
                <template v-slot:default >
                  <thead>
                      <tr>
                          <th class="text-start"  style="font-size:16px;" width="12%">Name</th>
                          <th class="text-center" style="font-size:16px;" width="5%">Target</th>
                          <th class="text-center" style="font-size:16px;" width="10%">Output</th>
                          <th class="text-center" style="font-size:16px;" width="10%">Diff.Qty</th>
                          <th class="text-center" style="font-size:16px;" width="10%">Ach. %</th>
                          <th class="text-center" style="font-size:16px;" width="10%">Yiled %</th>
                      </tr>
                  </thead>    
                  <tbody >
                      <tr v-for="(item,index) in list_target" :key="index" >
                          <td class="text-start" width="5%">
                              <span style="font-size:15px;">{{ item.name }}</span>
                          </td>
                          <td class="text-center" width="5%">
                              <span style="font-size:15px;">{{ item.target }}</span>
                          </td>
                          <td class="text-center" width="10%">
                              <span style="font-size:15px;">{{ item.output }}</span>
                          </td>
                          <td class="text-center" width="10%">
                              <span style="font-size:15px;">{{ item.diff }}</span>
                          </td>
                          <td class="text-center" width="10%">
                              <span style="font-size:15px;">{{ item.ach }}</span>
                          </td>
                          <td class="text-center" width="10%">
                              <span style="font-size:15px;">{{ item.yiled }}</span>
                          </td>
                      </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      window: {
        width: 0,
        height: 0
      },
      headers: [
        { text: 'Station',  sortable: false,   value: 'name',  align: 'start'},
        { text: 'Target',   sortable: false,   value: 'targer' },
        { text: 'Output',   sortable: false,   value: 'output' },
        { text: 'Diff.Qty', sortable: false,   value: 'diff' },
        { text: 'Ach. %',   sortable: false,   value: 'ach' },
        { text: 'Yiled %',  sortable: false,   value: 'yiled' },
      ],
      list_target: [],
      target_h : 0,
      target_per_h :0,
      target_now : 0,

    }),
    mounted () {
        
    },
    created () {
      this.handleResize();
      this.target_daily();
      window.addEventListener('resize', this.handleResize)
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
      window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
      checkScroll(){
        console.log(window.getComputedStyle(document.querySelector("#wrapper")).height);
        console.log(window.getComputedStyle(document.querySelector("#content")).height);
      },
      handleResize() {
        // console.log('wwwwwwwwwww')
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
        // console.log(this.window.width)
        // console.log(this.window.height)
        if (this.window.width < 817) {
          this.mobileSize = true
          this.heightMo = this.window.height
          console.log(this.heightMo)
        }else {
          this.mobileSize = false
          // console.log('web')
        }
      },
      handleScroll(event) {
        this.scrollY = event.path[1].scrollY
        this.scrollX = event.path[1].scrollX
        window.scrollTo(0,this.scrollY)
        // console.log(this.scrollY)
        if (this.scrollY > 2500) {
          this.animes = true
          console.log(this.animes)
        }else{
          this.animes = false
        }
      },
      goLine1(){
        // window.open("http://localhost:8080/line1")
        this.$router.push('/line1')
      },
      goLine2(){
        // window.open("http://localhost:8080/line2")
        this.$router.push('/line2')
      },
      goLine3(){
        // window.open("http://localhost:8080/line3")
        this.$router.push('/line3')
      },
      goLine4(){
        // window.open("http://localhost:8080/line4")
        this.$router.push('/line4')
      },
      goLine5(){
        // window.open("http://localhost:8080/line5")
        this.$router.push('/line5')
      },
      target_daily(){
        this.target_h = 8
        this.target_per_h = 600
        var today = new Date();
        // var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        // var time = today.getHours()+':'+today.getMinutes()+':'+today.getSeconds();
        var time = today.getHours()
        this.target_now = (time - this.target_h)  * this.target_per_h
        console.log(this.target_now)
        this.target_output = 2000

        this.list_target.push({
          index: 1,
          name: 'Input',
          target: this.target_now,
          output: this.target_output,
          diff: this.target_now - this.target_output,
          ach: ((this.target_output * 100)/this.target_now).toFixed(2) + '%',
          yiled: '100.00%'
        })

        console.log(this.list_target)
      }
    },
    watch: {
      group () {
        this.drawer = false
      },
    },
  }
</script>
<style >
  .text1:hover {
    text-decoration: underline;
  }
  .my_table .v-data-table__wrapper table thead tr th {
        border-left: 1px solid #e0e0e0 !important;
        text-align: center !important;
        font-size: 14px !important;
    }
    .my_table .v-data-table__wrapper table thead tr th:first-child {
        border-left: 0px solid #e0e0e0 !important;
        text-align: center !important;
    }
    .my_table .v-data-table__wrapper table tbody tr td {
        border-left: 1px solid #e0e0e0 !important;
        text-align: center !important;
        color: #666666;
    }
    .my_table .v-data-table__wrapper table tbody tr td:first-child {
        text-align: center !important;
        border-left: 0px solid #e0e0e0 !important;
    }
</style>