<template>
    <v-container fluid grid-list-lg id="admin_layout">
        <v-col cols="12">
            <v-row no-gutters>
                <v-card :style="` height:${tableHeightCard}px;`" width="100%" flat tile outlined class="pl-2 pr-2">
                    <v-row no-gutters>

                    </v-row>
                </v-card>
            </v-row>
        </v-col>
    </v-container>
</template>

<script>

    export default {
        data() {
            return {
                columns: [
                    {label: 'Username',   field: 'username',              sortable: false},
                    { label: 'Onemail',   field: 'email_user',            sortable: false},
                    { label: 'Level',     field: 'level_admin',           sortable: false},
                    { label: 'Status',    field: 'status',                sortable: false},
                    { abel: 'Create Time',field: 'datetime_create_string',sortable: false},
                    { label: '',          field: 'icon',                  sortable: false,  thClass: 'text-center',tdClass: 'text-center',},
                ],
                columns2: [
                    { text: 'Username',    value: 'username',               sortable: false},
                    { text: 'Onemail',     value: 'email_user',             sortable: false},
                    { text: 'Level',       value: 'level_admin',            sortable: false},
                    { text: 'Status',      value: 'status',                 sortable: false},
                    { text: 'Create Time', value: 'datetime_create_string', sortable: false},
                    { text: '',            value: 'icon',                   sortable: false},
                ],
                search:'',
                authorize: '',
                listAdmin: [],
                dataDel: [],
                dialogAdd: false,
                loading: false,
                loadingDialog: false,
                dissShowadd: false,
                dialogDel: false,
                emailUsername: '',
                emailUser: '',
                setLevel: '',
                selectLevel: [{
                        id: 0,
                        level: 0
                    },
                    {
                        id: 1,
                        level: 1
                    },
                ],
                tableHeightCard:590,
                absolute: true,
                listLoading:true,
                dialog_update_version : false,
                version_doc : '',
                version : ''
            }
        },
        mounted () {
            var element = document.getElementById('admin_layout');
            var position_info = element.getBoundingClientRect();
            var height = parseInt(position_info.height)
            var width  = parseInt(position_info.width)
            this.tableHeight = height - 230
            // this.tableHeightCard = height + 250
            this.tableHeightCard = window.innerHeight - 125
            // console.log(height)
            console.log(width)
            // this.showAlertSuccess('สำเร็จ',height+" "+width)
        },
        created() {
            // var accesstoken = sessionStorage.getItem('token');
            // this.authorize = 'Bearer' + ' ' + accesstoken
            // this.authorizeNode = 'Bearer' + ' ' + '3thcTHTnZrqrRAAKhz4OutMELmTx4XbD'
            // this.checkBiz_Admin()
            this.getAdmin()
        },
        methods: {
            getAdmin() {
                this.listLoading = true
                this.axios.get("http://0.0.0.0:3000/target_l4", {
                    headers: {
                        'Authorization': this.authorize
                    }
                }).then((response) => {
                    console.log(response)
                    var status = response.data.result
                    if (status == 'OK') {
                        this.listAdmin = []
                        var data = response.data.messageText
                        for (let i = 0; i < data.length; i++) {
                            this.listAdmin.push({
                                index: i,
                                datetime_create: data[i].datetime_create.slice(0, 26),
                                datetime_create_string: data[i].datetime_create_string,
                                datetime_update: data[i].datetime_update,
                                datetime_update_string: data[i].datetime_update_string,
                                email_user: data[i].email_user,
                                hash_data: data[i].hash_data,
                                id: data[i].id,
                                level_admin: data[i].level_admin,
                                status: data[i].status,
                                username: data[i].username,
                            })
                        }
                        // console.log(this.listAdmin)
                    } else {
                        this.showAlertWarning('แจ้งเตือน', 'ไม่พบข้อมูลในระบบ')
                    }
                    this.listLoading = false
                    this.loadingDialog = false
                })
            },
        },
        computed: {
            
        },
        watch: {
            
        }
    }
</script>

<style>
    .txt {
        font-family: "Times New Roman", Times, serif;
        font-style: inherit;
        font-size: 30px;
        color: #7f8c8d;
    }

    .v-application .text-center {
        text-align: left !important;
    }
    .my_text .v-input__control .v-input__slot .v-text-field__slot label{
        margin-top: -6px;;
    }
    .my_table .v-data-table__wrapper table thead tr th {
        border-left: 1px solid #e0e0e0 !important;
        border-top: 1px solid #e0e0e0 !important;
        text-align: center !important;
        font-size: 14px !important;
    }
    .my_table .v-data-table__wrapper table thead tr th:first-child {
        /* text-align: center !important; */
        border-left: 0px solid #e0e0e0 !important;
    }

    /* body table */

    .my_table .v-data-table__wrapper table tbody tr td {
        border-left: 1px solid #e0e0e0 !important;
        color: #666666;
    }
    .my_table .v-data-table__wrapper table tbody tr td:first-child {
        text-align: center !important;
        border-left: 0px solid #e0e0e0 !important;
    }
    .my_search .v-input__control .v-input__slot .v-text-field__slot label{
        margin-top: -7px;
    }
</style>
