<!DOCTYPE html>
<html lang="en">
  <head>
      <title>
          Target
      </title>
  </head>
  <body>
    <h1>ยินดีต้อนรับสู่เว็บของเรา!</h1>
    <h2>เราชื่อโบว์</h2>
    <h3>อ่านให้สนุกนะ</h3>
    <p>ย่อหน้าของฉัน</p>
    <p><font color="blue">วาฬเป็นสัตว์ที่ดูสวยสง่า</font></p>
    <!-- <span style="color: (สีที่ต้องการ)">...</span> -->
    <b>ตัวหนา</b>
    <i>ตัวเอียง</i>
    <u>ขีดเส้นใต้</u>
    <sub>ตัวห้อย</sub>
    <sup>ตัวยก</sup>
  </body>
</html>